body {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 220px max-content;
    font-family: 'Roboto', sans-serif;;
}

#sidebar {
    background-color: rgb(28, 164, 222);
    grid-column: 1;
    grid-row: 1 / span 2;
    color: azure;
    min-width: 220px;
}

#title-txt {
    margin-left: -5px;
}

.title {
    margin-left: -5px;
}

#header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: ghostwhite;
    border-bottom: lightgray solid 3px;
    grid-column: 2;
    grid-row: 1;
}

#top {
    display: grid;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-template-columns: 1fr 8fr 2fr 1fr 1fr 2fr;
    grid-template-rows: 40px;
}

#top>#notification {
    grid-column: 4;
    margin-top: 15px;
}

#top>h5 {
    grid-column: 6;
}

#top>*, #bottom>* {
    margin: auto;
}

#bottom {
    display: grid;
    grid-template-columns: 1fr 1.5fr 2fr .5fr .5fr .5fr;
    grid-template-rows: 1fr 2fr;
    margin: 0 30px;
    gap: 10px;
}

#ppThumb {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    grid-column: 5;

}

#ppMain {
    width: 100px;
    height: 100px;
    border-radius: 50%;


}

.header-btn {
    padding: 15px 35px;
    border-radius: 20px;
    border: none;
    margin: auto;
    background-color: rgb(28, 164, 222);
    color: azure;
}

input {
    width: 100%;
    padding: 10px 10px;
    border-radius: 20px;
    border: none;
    background-color: lightgray;
}
#btnNew {
    grid-column: 4;
}

#btnUpload {
    grid-column: 5;
}

#btnShare {
    grid-column: 6;
}

.text-column {
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.text-column>h3 {
    margin-bottom: -30px;
}

.side-item {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    margin-bottom: -20px;
    font-size: 1rem;
    padding-left: 30px;

}


#break {
    padding-bottom: 30px;
}

.title {
    font-size: 1.5rem;
    margin-top: -4px;
    margin-bottom: 0px;
}

#main-content {
    background-color: rgb(228, 228, 228);
    grid-column: 2;
    padding: 15px 25px;
    display: grid;
    gap: 20px;
    grid-template: .2fr 2fr .2fr 2fr/ 2.5fr 1fr;
}

#projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, 310px);
    height: min-content;
    grid-column: 1;
    grid-row: 2/ span 3;
}

.project-card {
    background-color: white;
    padding: 10px;
    display: grid;
    margin:  20px 10px;
    grid-template: .25fr 1fr .1fr/ 4fr repeat(3, .25fr);
    border-radius: 7px;
    border-left: purple solid 5px;
}

.project-card>p {
    grid-row: 2;
    margin-top: -5px;
    grid-column: span 4;
}

.project-card>svg {
    grid-row: 3;
}

#star {
    grid-column: 2;
}

#eye {
    grid-column: 3;
}

#share {
    grid-column: 4;
}

#announcements {
    background-color: white;
    margin: auto;
    padding: 10px 30px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#announcements>h3, #announcements>p {
    padding: 0 10px;
}


#announcements>hr {
    width: 250px;
    background-color: gray;
}

#trending {
    background-color: white;
    display: grid;
    height: max-content;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, 100px);
}

.trend-card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    margin-left: 20px;
}

#pp-trend {
    grid-column: 1;
    grid-row: 1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: auto;
}

#right-trend {
    grid-row: 1 ;
    grid-column: 2;
}

#head-txt {
    font-style: italic;
    margin-top: 28px;
    margin-bottom: -10px;
}

#tag {
    color: rgb(163, 163, 163);
}
